<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jenson.service.mapper.clock.RenewalMapper">

<!--    <select id="getAll" resultType="com.jenson.service.common.dto.clock.Renewal">-->
<!--        select * from user-->
<!--    </select>-->

    <select id="getNewVersion" resultType="com.jenson.service.common.dto.clock.Renewal">
        select * from renewal order by id desc limit 1
    </select>
</mapper>
